.navbar{
	padding-bottom: 15px;
	border-bottom: 2px solid #ccc;
}
.screen--long{
	display: flex;
	justify-content: space-between;
}
.navbar__left{
	display: flex;
	list-style-type: none;
}
.navbar__left__selection--appear{
	display: inline;
}
.navbar__left__selection{
	font-size: 18px;
	font-weight: 550;
}
.navbar__left__selection + .navbar__left__selection{
	padding-left: 40px;
}
.navbar__right{
	display: flex;
	list-style-type: none;
}
.navbar__right__selection{
	font-size: 18px;
	font-weight: 550;
	padding-right: 35px;
}
.navbar__right__selection--blue{
	color: blue;
}
.navbarSecondary{
	height: 68px;
	width: 100%;
	display: flex;
	list-style-type: none;
	padding-left: 0px;
	background-color: #fff;
}
.navbarSecondary__item{
	height: 21px;
	padding-left: 40px;
	font-size: 14px;
	font-weight: bold;
	align-self: center;
}
.navbarSecondary__item--orangered{
	color: orangered;
}
.navbarSecondary--disappear{
	position: sticky;
	top: 0px;
	z-index: 99;
}
.screen--short{
	display: none;
}
.header{
	width: 83.2vw;
	margin: auto;
	height: 50.5rem;
	background-image: url(./img/header.jpg);
	background-size: cover;
	background-position: center center;
	display: flex;
}
.header__text{
	color: #fd5948;
	font-size: 12rem;
	font-weight: 700;
	margin: auto;
	letter-spacing: 0.8;
}
.paragraph{
	margin: auto;
	width: 68.3rem;
}
.p1{
	margin-top: 120px;
}
.p1__item{
	display: inline;
	height: 26px;
	margin: 0px;
	color: blue;
}
.p2{
	margin: 25px auto;
}
.groupImg1{
	margin-top: 100px;
	height: 58.27vw;
}
.groupImg1__background{
	width: 58.2vw;
	height: 58.27vw;
	background-color: #FAFFA7;
	position: absolute;
	right: 0;
}
.groupImg1__img1{
	width: 41.65vw;
	height: 41.65vw;
	background-image: url(./img/photo-1.jpg);
	background-size: cover;
	background-position: center center;
	position: absolute;
	margin-top: 8.2vw;
    margin-left: 8.5vw;
}
.groupImg1__img2{
	width: 33.3vw;
	height: 24.96vw;
	background-image: url(./img/photo-2.jpg);
	background-size: cover;
	background-position: center center;
	position: absolute;
	right: 7.32vw;
	margin-top: 16.47vw;
}
.p3{
	margin-top: 12rem;
}
.p4{
	margin: auto;
	margin-top: 4rem;
	width: 68.3rem;
}
.videoyoutube{
	margin: auto;
	margin-top: 12rem;
	width: 50vw;
	height: 28.1vw;
	background-image: url(./img/poster-juanpe.jpg);
	background-size: 50vw;
	display: flex;
}
.videoyoutube__button{
	margin: auto;
	width: 5.5vw;
	height: 5.5vw;
}
.captionForVideo{
	margin: auto;
	margin-top: 7px;
	width: 68.3rem;
	font-size: 15px;
}
.p5{
	margin-top: 11.5rem;
}
.p6{
	margin-top: 3rem;
}
.groupImg2{
	margin-top: 11.5rem;
	width: 100%;
	height: 74.96vw;
}
.groupImg2__background{
	width: 58.27vw;
	height: 74.96vw;
	background-color: #92CC9A;
	position: absolute;
}
.groupImg2__img1{
	width: 33.3vw;
	height: 24.96vw;
	background-image: url(./img/photo-3.jpg);
	background-size: 33.3vw;
	position: absolute;
	margin-left: 8.42vw;
	margin-top: 8.42vw;
}
.groupImg2__img2{
	width: 33.3vw;
	height: 24.96vw;
	background-image: url(./img/photo-4.jpg);
	background-size: 45.5rem;
	position: absolute;
	margin-top: 41.65vw;
	margin-left: 8.42vw;
}
.groupImg2__img3{
	width: 41.65vw;
	height: 41.65vw;
	background-image: url(./img/photo-5.jpg);
	background-size: 41.65vw;
	position: absolute;
	margin-top: 16.83vw;
	margin-left: 49.93vw;
}
.p7{
	margin-top: 12rem;
}
.p8{
	margin-top: 3.5rem;
}
.groupImg3{
	margin-top: 12rem;
	width: 100%;
	height: 42.17vw;
	display: flex;
}
.groupImg3__img{
	width: 74.96vw;
	height: 42.17vw;
	margin: auto;
	background-image: url(./img/poster-meet-the-makers.jpg);
	background-size: 74.96vw;
}
.p9{
	margin-top: 12rem;
}
.p10{
	margin-top: 4rem;
}
.p11{
	margin-top: 4rem;
}
.groupImg4{
	width: 100%;
	height: 58.27vw;
	margin-top: 12rem;
	display: flex;
}
.groupImg4__background{
	width: 66.6vw;
	height: 58.27vw;
	background-color: #AA8FCC;
	margin: auto;
	z-index: 1;
}
.groupImg4__img1{
	width: 33.3vw;
	height: 34.96vw;
	background-image: url(./img/photo-6-a.jpg);
	background-size: 33.3vw;
	position: absolute;
	left: 8.27vw;
	margin-top: 16.83vw;
	z-index: 2;
}
.groupImg4__img2{
	width: 41.65vw;
	height: 41.65vw;
	background-image: url(./img/photo-7.jpg);
	background-size: 41.65vw;
	position: absolute;
	z-index: 2;
	right: 0;
	margin-top: 8.27vw;
}
.p12{
	margin-top: 13rem;
}
.p13{
	margin-top: 3rem;
}
.groupImg5{
	width: 83.3vw;
	margin: auto;
	display: flex;
	margin-top: 12rem;
}
.groupImg5__img{
	width: 50%;
	height: 41.65vw;
	background-image: url(./img/photo-8.jpg);
	background-size: cover;
	background-position: right center;
}
.groupImg5__detail{
	width: 50%;
	height: 41.65vw;
	background-color: #b1c5ff;
	display: flex;
}
.groupImg5__detail__p{
	width: 34.1rem;
	height: 28.2rem;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.groupImg5__detail__p__link{
	color: blue;
}
.footer{
	margin-top: 11.3rem;
	width: 100%;
	height: 76.2rem;
}
.trademark{
	width: 113.8rem;
	height: 10.9rem;
	margin: auto;
	padding-top: 10rem;
}
.trademark__text{
	margin: 0;
	font-size: 60px;
	font-weight: bolder;
	letter-spacing: 0;
}
.refer{
	width: 83.3vw;
	display: flex;
	margin: auto;
	flex-wrap: wrap-reverse;
}
.refer__socialNetwork{
	display: flex;
	flex-direction: column;
	flex: 1;
}
.refer__socialNetwork__item--list{
	display: flex;
	justify-content: stretch;
	margin-top: auto;
}
.refer__socialNetwork__item__icon{
	width: 40px;
	height: 40px;
	font-size: 40px;
}
.fa-facebook-square{
	color: #5085e9;
}
.fa-twitter-square{
	color: #1da1f2;
}
.fa-youtube-square{
	color: #ff001d;
}
.fa-instagram-square{
	color: #f77737;
}
.refer__education{
	display: flex;
	flex-direction: column;
	flex: 1;
}
.refer__education__header{
	font-weight: bold;
}
.refer__signup{
	display: flex;
	flex-direction: column;
	flex: 1.33;
}
.refer__signup__header{
	font-weight: bold;

}
.refer__signup__input{
	display: flex;
	margin-top: auto;
}
input.refer__signup__input{
	width: 35.5rem;
	height: 41px;
	box-sizing: border-box;
	background-color: #c0c0c1;
	font-size: inherit;
	border-style: none;
}
button.refer__signup__input{
	height: 21px;
	width: 63px;
	padding: 10px 28px;
	border-style: none;
	background-color: blue;
	font-size: inherit;
	color: #fff;
	font-weight: bolder;
	box-sizing: initial;
}
.about{
	width: 113.8rem;
	display: flex;
	margin: auto;
	margin-top: 5.5rem;
}
.about__community{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.about__community__header{
	font-weight: bold;
}
.about__distributors{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.about__distributors__header{
	font-weight: bold;
}
.about__languageAndLocation{
	flex: 1.33;
	display: flex;
	flex-direction: column;
}
.about__languageAndLocation__header{
	font-weight: bold;
}
.about__languageAndLocation__input{
	height: 30%;
	margin-top: 1rem;
	display: flex;
}
.about__languageAndLocation__input__languages{
	flex: 1
}
.about__languageAndLocation__input__locations{
	flex: 2;
}
.information{
	width: 113.8rem;
	margin: auto;
	margin-top: 6rem;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}
.information__list{
	display: flex;
}
.information__list__item + .information__list__item{
	margin-left: 10px;
}
.information__logo{
	display: flex;
	justify-content: space-between;
	width: 14rem;
}
.information__logo__icon{
	height: 2rem;
}
@media screen and (max-width: 1050px){
	.screen--long{
		display: none;
	}
	.screen--short{
		display: block;
		background-color: #0000FF;
		color: #fff;
	}
	.screen--short__navbar{
		display: flex;
		justify-content: start;
	}
	.screen--short__navbar__button{
		margin-left: 20px;
		list-style-type: none;
	}
	.screen--short__menu{

	}
	.screen--short__menu__select{
		height: 30px;
		margin-top: 20px;
		padding-left: 15px;
		font-size: 17px;
		font-weight: 700;
	}
	.screen--short__menu__select--small{
		font-size: 12px;
	}
	.screen--short__menu__select--red{
		color: #F6724A;
	}
	.menu--discription{
		display: flex;
		font-size: 12px;
	}
	.screen--discription__item{
		margin: 0 15px;
		min-width: 190px;
	}
	.screen--discription__item__head{
		font-weight: 700;
	}
	.screen--discription__item__body{

	}
	.groupImg5{
		flex-direction: column;
	}
	.groupImg5__img{
		width: 100%
	}
	.groupImg5__detail{
		width: 100%;
	}
	.groupImg5__detail__p{
		width: 80%;
		height: 100%
	}
	.refer{
		flex-direction: column;
	}
	.refer__item + .refer__item{
		margin-top: 30px
	}
	.about{
		flex-direction: column;
	}
	.about__item + .about__item{
		margin-top: 30px
	}
}
@media screen and (max-width: 700px){
	.groupImg5__detail__p__text{
		font-size: 18px;
	}
	.groupImg5__detail__p__link{
		font-size: 18px;
	}
}